<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>VueJS: Componentes</title>
        <meta name="author" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- TODO: Cargar CSS Bootstrap (no es necesario el JS) -->
    </head>

    <body>

        <h1 id="autor">Autor: SMARLIN JIMÉNEZ GÓMEZ</h1>

        <!-- https://vuejs.org/v2/guide/index.html -->
        <div id="app">
            <div class="container">
                <div class="jumbotron">
                    <h1 id="title" class="h1">{{ col.collection.title }}</h1>
                </div>
            </div>
            <div class="card-group" style="margin-left:100px;margin-right: 100px">      
                <div v-for="peliculas in col.collection.items" is="item-data" v-if="peliculas.visible" v-bind:element="peliculas"></div>
                <div v-else is="edit-form" v-bind:element="peliculas"></div>
            </div>
            <!--
                 TODO: Aplicación VueJS. Ver archivo ./js/script.js
               - Mostrar el título de la colección dentro de un componente Jumbotron de Bootstrap https://getbootstrap.com/docs/4.0/components/jumbotron/. En su interior habrá un <h1> con id "title" que mostrará el título de la colección
               - Para cada item: (https://vuejs.org/v2/guide/index.html#Conditionals-and-Loops)
                 - Crear un componente item-data
            -->

        </div>



        <!-- Plantilla para el componente edit-form -->
        <script type="text/x-template" id="editForm">
            <div class="card">
              <div class="card-body">
                <div v-for="peli in element.data">
                  <h4 class="card-title">{{peli.prompt}}</h4>
                  <input v-if="peli.prompt != 'Description'" type="text" v-model:text="peli.value"/>
                  <textarea v-else type="text"  v-model:text="peli.value"> </textarea>     
                </div>  
              </div>
              <a v-on:click="closeForm(element)" id="formButton" type="button" class="btn btn-danger">Cerrar</a>
            </div>
              <!--
                   TODO: Componente edit-form
              -->
  
          </script>


        <!-- Plantilla para el componente item-data -->
        <script type="text/x-template" id="itemData">

            <!--
                 TODO: Componente item-data
            -->

        </script>


        <!-- TODO: Cargar librería VueJS y archivo js/script.js -->

    </body>

</html>
